body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chat-message {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  color:#335C81;
  opacity: 1;
}

#user-id {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  opacity: 1;
}

div {
  display: inline-block;
}
h1, h2 {
  text-align: center;
  padding-right: 45px;
}